<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.person.ermao.lib_debug_tools">

    <application>
        <activity android:name="com.haixue.academy.tools.dorkit.ContainerKitActivity" />
        <activity android:name="com.haixue.academy.tools.dorkit.AppInfoActivity" />
        <activity android:name="com.haixue.academy.tools.dorkit.SwitchKitActivity" />
    </application>
</manifest>